@page "/"
@using ZwooInfoDashBoard.Data
@using ZwooInfoDashBoard.Pages.Dialogs
@using ZwooDatabaseClasses

<PageTitle>Home</PageTitle>

@inject DialogService DialogService

<h1>Home</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <RadzenCard class="w-100">
                <h2>Statistics</h2>
                <div class="row w-100">
                    <div class="col">
                        <RadzenLabel Text="Played Games:"/>
                        <div class="w-100"></div>
                        <RadzenLabel Text="Players:"/>
                        <div class="w-100"></div>
                        <RadzenLabel Text="Not Verified:"/>
                        <div class="w-100"></div>
                        <RadzenLabel Text="Failed Login Attempts:"/>
                        <div class="w-100"></div>
                        <RadzenLabel Text="Used Beta Codes:"/>
                        <div class="w-100"></div>
                        <RadzenLabel Text="Available Beta Codes:"/>
                    </div>
                    <div class="col">
                        <RadzenLabel Text="@($"{Globals.ZwooDatabase.GetPlayedGamesAsQueryable().Count()}")"/>
                        <div class="w-100"></div>
                        <RadzenLabel Text="@($"{Globals.ZwooDatabase.GetUsersAsQueryable().Count()}")"/>
                        <div class="w-100"></div>
                        <RadzenLabel Text="@($"{Globals.ZwooDatabase.GetUsersAsQueryable().Count(x=> !x.Verified)}")"/>
                        <div class="w-100"></div>
                        <RadzenLabel Text="@($"{Globals.ZwooDatabase.GetAccountEventsAsQueryable().Count(x => x.EventType == "login" && !x.Success)}")"/>
                                                <div class="w-100"></div>
                        <RadzenLabel Text="@($"{Globals.ZwooDatabase.GetUsersAsQueryable().Count(x => x.BetaCode != null)}")"/>
                        <div class="w-100"></div>
                        <RadzenLabel Text="@($"{Globals.ZwooDatabase.GetBetaCodesAsQueryable().Count()}")"/>
                    </div>
                </div>
            </RadzenCard>
            <RadzenCard class="w-100" Style="margin-top: 10px">
                <h2>Quick Actions</h2>
                <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add New Code" Click="@(async () => await DialogService.OpenAsync<NewBetaCode>("New Betacode", new Dictionary<string, object> { }, new DialogOptions { Width = "460px", Height = "180px", Resizable = false, Draggable = true }))"/>
                <RadzenButton Icon="search" style="margin-bottom: 10px" Text="Quick Find Player" Click="QuickFindPlayer"/>
                <RadzenButton Icon="add_circle_outline" Text="Add Version Changelog" Click="CreateVersion"/>
            </RadzenCard>
        </div>
        <div class="col">
            <RadzenCard>
                <h2>Leaderboard</h2>
                <RadzenDataGrid TItem="User" Data="_leaderboard">
                    <Columns>
                        <RadzenDataGridColumn TItem="User" Property="Position" Title="Position"/>
                        <RadzenDataGridColumn TItem="User" Property="Username" Title="Name"/>
                        <RadzenDataGridColumn TItem="User" Property="Wins" Title="Wins"/>
                        <RadzenDataGridColumn TItem="User" TextAlign="TextAlign.Center" Width="60px">
                            <Template Context="player">
                                <RadzenButton ButtonStyle="ButtonStyle.Info" Icon="info" Class="m-1" Click="@(() => OpenPlayer(player.Id))"/>
                            </Template>
                        </RadzenDataGridColumn>
                    </Columns>
                </RadzenDataGrid>
            </RadzenCard>
        </div>
    </div>
</div>

@code {
    readonly List<User> _leaderboard = Globals.ZwooDatabase.GetLeaderboard();
    
    private async Task OpenPlayer(ulong playerId) => await DialogService.OpenAsync<PlayerInfoDialog>("Player Info", new Dictionary<string, object> { { "id", playerId } }, new DialogOptions { Width = "700px", Height = "530px", Resizable = true, Draggable = true });

    private async Task QuickFindPlayer()
    {
        var res = await DialogService.OpenAsync<QuickFindPlayerDialog>("Quick Find Player", new Dictionary<string, object> { }, new DialogOptions { Width = "460px", Height = "200px", Resizable = false, Draggable = true });
        if (res is User usr)
            await OpenPlayer(usr.Id);
    }

    private async Task CreateVersion()
    {
        var res = await DialogService.OpenAsync<AddVersionDialog>("Create version", new Dictionary<string, object> { }, new DialogOptions { Width = "460px", Height = "200px", Resizable = false, Draggable = true });
        if (res is Changelog changelog)
            await DialogService.OpenAsync<ChangelogEditDialog>("Edit Changelog", new Dictionary<string, object> { { "changelog", changelog } }, new DialogOptions { Width = "1300px", Height = "760px", Resizable = true, Draggable = true });
    }
}
